<ul>
    <% @projects.each do |project| %>
        <li> 
            <p>
            <%= project.title %> 
            </p>
            <%= project.description %> 
            <%= "| #{project.percent_complete}%" if project.percent_complete %>
        </li>
        -
    <%end%>
</ul>